<div class="container">
  <div class="page-title">
    <h3>ISNA MATRIMONIAL BANQUETS</h3>
    <p class="mb-0"><strong>Banquet 1</strong> - Saturday 1-5pm</p>
    <p><strong>Banquet 2</strong> - Sunday 12-4pm</p>
  </div>
</div>
<div class="welcome-card">
  <h5><strong>EVENT WAIVER STATEMENT</strong></h5>
  <br />
  <p><strong>These matrimonial events provide a platform for single Muslims to network and find suitable matches that
      align with their needs and preferences.</strong></p>
  <p>Your cooperation and compliance are crucial for the success of this program. Harassment or inappropriate behavior
    will not be tolerated and will lead to immediate termination of registration.</p>
  <p>In order to maintain a safe and respectful environment, ISNA reserves the right to cancel registration without a
    refund at any time and to remove any individual(s) deemed necessary to uphold order and safety. Please note that no
    registration fee refunds will be provided in such instances.</p>
</div>
<div class="d-flex justify-content-end mt-4 mb-5">
  <a [routerLink]="['/registration']" class="button button-icon button-primary">
    Accept
    <img src="/assets/images/welcome/arrow-bg-white.svg" alt="" />
  </a>
</div>